<header class="container">
    <nav class="navbar navbar-expand-sm">
        <a href="/" class="navbar-brand text-light"><span class="icon-loge text-light fsize-1d5"></span> Grand Tour <small>盛大之旅</small></a>
        <ul class="navbar-nav justify-content-end w-100">
            <li class="nav-item pad-l-2">
                <a href="/" class="nav-link text-light">首页</a>
            </li>
            <li class="nav-item pad-l-2">
                <a href="" class="nav-link text-light">关于我们</a>
            </li>
            <li class="nav-item  pad-l-2">
                <a href="/pro_list" class="nav-link text-light">产品服务</a>
            </li>
            <li class="nav-item  pad-l-2">
                <a href="" class="nav-link text-light">联系我们</a>
            </li>
            <li class="nav-item  pad-l-2">
                <a href="/booking" class="nav-link text-light btn btn-primary">预定产品</a>
            </li>
        </ul>
    </nav>
</header>